workspace/VeriWay Workflow Agent.json
{
  "name": "VeriWay Workflow Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"solar-pro3\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"너는 VeriWay 배리어프리 이동경로 추천 서비스의 입력 분석 AI다. 사용자의 자연어 문장에서 출발지, 목적지, 이동 상태, 피해야 할 요소, 필요한 편의시설을 추출한다. 반드시 JSON만 출력한다. 마크다운 코드블록, 설명 문장, 주석은 절대 출력하지 않는다. 출력 형식은 {\\\"start\\\":\\\"\\\", \\\"destination\\\":\\\"\\\", \\\"mobility_condition\\\":\\\"\\\", \\\"avoid\\\":[], \\\"needs\\\":[], \\\"user_type\\\":\\\"\\\", \\\"missing_info\\\":[], \\\"confidence\\\":\\\"\\\"} 이다. 출발지가 없으면 start는 빈 문자열로 두고 missing_info에 \\\"출발지\\\"를 넣는다. 목적지가 없으면 destination은 빈 문자열로 두고 missing_info에 \\\"목적지\\\"를 넣는다. 사용자가 목발, 휠체어, 유모차, 캐리어, 부상, 노약자, 임산부 중 하나를 언급하면 mobility_condition에 반영한다. 목발, 휠체어, 유모차, 캐리어 사용자는 계단을 피해야 하므로 avoid에 \\\"계단\\\"을 넣는다. 필요한 시설에는 엘리베이터, 경사로, 평탄한 보도, 장애인 화장실 중 필요한 항목을 넣는다.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.cleaned_input }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        192
      ],
      "id": "0fa1f511-8828-4649-b74f-df9d23d16560",
      "name": "Upstage Solar - 이동 조건 JSON 추출",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VxLPHfFYCT88GYDI",
          "name": "Upstage API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "28ff270c-188d-43de-80d9-b6be8f7c903e",
              "leftValue": "={{ $json.has_route }}",
              "rightValue": "is true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        240
      ],
      "id": "704efbfc-b08d-4af9-94a6-7c4b20dc31b6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"solar-pro3\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"너는 VeriWay 배리어프리 이동경로 추천 서비스의 안내 AI다. 입력된 사용자 이동 조건과 추천 경로 데이터를 바탕으로 친절하고 명확한 한국어 안내문을 작성한다. 답변 형식은 반드시 [이동 조건 분석], [외부 추천 경로], [건물 내부 길찾기], [장애물 및 편의시설], [주의할 점] 순서로 작성한다. 추천 경로 데이터에 entrance_tip, elevator_location, accessible_restroom, indoor_route_tip, visitor_tip이 포함되어 있으면 반드시 [건물 내부 길찾기]에 반영한다. 없는 정보는 지어내지 않는다.\"\n    },\n    {\n      role: \"user\",\n      content:\n        \"다음 데이터를 바탕으로 사용자에게 배리어프리 경로 안내문을 작성해줘.\\n\\n\" +\n        \"출발지: \" + $json.start + \"\\n\" +\n        \"도착지: \" + $json.destination + \"\\n\" +\n        \"이동 상태: \" + $json.mobility_condition + \"\\n\" +\n        \"피해야 할 요소: \" + ($json.avoid || []).join(\", \") + \"\\n\" +\n        \"필요한 시설: \" + ($json.needs || []).join(\", \") + \"\\n\\n\" +\n        \"추천 경로명: \" + ($json.matched_routes?.[0]?.route_name || \"등록된 경로명 없음\") + \"\\n\" +\n        \"추천 경로: \" + ($json.matched_routes?.[0]?.route_description || \"등록된 경로 설명 없음\") + \"\\n\" +\n        \"장애물: \" + ($json.matched_routes?.[0]?.obstacles || \"정보 없음\") + \"\\n\" +\n        \"편의시설: \" + ($json.matched_routes?.[0]?.facilities || \"정보 없음\") + \"\\n\\n\" +\n        \"출입구 안내: \" + ($json.matched_routes?.[0]?.entrance_tip || \"확인 필요\") + \"\\n\" +\n        \"엘리베이터 위치: \" + ($json.matched_routes?.[0]?.elevator_location || \"확인 필요\") + \"\\n\" +\n        \"장애인 화장실: \" + ($json.matched_routes?.[0]?.accessible_restroom || \"확인 필요\") + \"\\n\" +\n        \"건물 내부 이동 팁: \" + ($json.matched_routes?.[0]?.indoor_route_tip || \"확인 필요\") + \"\\n\" +\n        \"방문객 안내: \" + ($json.matched_routes?.[0]?.visitor_tip || \"확인 필요\")\n    }\n  ],\n  stream: false\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        240
      ],
      "id": "2d2539f4-b122-4478-9583-641ac570b82d",
      "name": "Upstage Solar - 최종 경로 안내문 생성",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VxLPHfFYCT88GYDI",
          "name": "Upstage API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -160
      ],
      "id": "fb4a1c74-2674-4fb6-9283-64b908dfbcaf",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        16
      ],
      "id": "96bb2ede-4696-4290-8429-424169744735",
      "name": "User_Input",
      "webhookId": "5a6ac0ab-9694-4253-834a-e0a03d24cf71"
    },
    {
      "parameters": {
        "message": "현재 입력하신 조건에 맞는 등록 경로를 찾지 못했어요.\n\n출발지와 목적지를 다시 확인해 주세요.\n예: \"학생회관에서 중앙도서관까지 목발로 갈 수 있는 길 알려줘\"\n\n현재 데모에서는 학생회관, 중앙도서관, 순헌관, 명신관 중심의 경로를 우선 지원합니다.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        720,
        464
      ],
      "id": "fc3bb85f-db3c-45d5-8d9d-da7ae13e2969",
      "name": "No_Route_Response",
      "webhookId": "213621ae-5048-4559-bd9a-459f0d36df8f"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content || \"\";\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = {\n    start: \"\",\n    destination: \"\",\n    mobility_condition: \"\",\n    avoid: [],\n    needs: [],\n    user_type: \"\",\n    missing_info: [\"응답 형식 오류\"],\n    confidence: \"low\",\n    parse_error: true,\n    raw_response: content\n  };\n}\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -304
      ],
      "id": "374bee23-e32a-488e-aae3-0ecb5afc340e",
      "name": "JSON_Parse_Check"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.chatInput || \"\";\n\nconst cleanedInput = input\n  .trim()\n  .replace(/\\s+/g, \" \")\n  .replace(/[ㅠㅜㅋㅎ]+/g, \"\");\n\nreturn [\n  {\n    json: {\n      original_input: input,\n      cleaned_input: cleanedInput\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -160
      ],
      "id": "c7d7dad2-8cf2-425f-ab77-32a65d043df1",
      "name": "Input_Preprocess"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10vVE7zjagW5l4AywlLqQ6kRuRBo3hXbCpwilMe1_lZQ",
          "mode": "list",
          "cachedResultName": "VeriWay",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10vVE7zjagW5l4AywlLqQ6kRuRBo3hXbCpwilMe1_lZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10vVE7zjagW5l4AywlLqQ6kRuRBo3hXbCpwilMe1_lZQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -384
      ],
      "id": "1821d705-bfda-44e9-a6b9-9f860f1df35e",
      "name": "Google_Sheets_Routes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8o4manciE1eGtHym",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $('JSON_Parse_Check').first().json;\nconst routes = $input.all().map(item => item.json);\n\nconst toBool = (value) => {\n  if (typeof value === \"boolean\") return value;\n  if (typeof value === \"string\") return value.trim().toLowerCase() === \"true\";\n  return false;\n};\n\nconst normalize = (value) => {\n  return String(value || \"\")\n    .trim()\n    .replace(/\\s+/g, \"\")\n    .replace(/까지|에서|으로|로|가는길|가는/g, \"\");\n};\n\nconst userStart = normalize(user.start);\nconst userDestination = normalize(user.destination);\nconst mobility = String(user.mobility_condition || \"\").trim();\nconst avoid = Array.isArray(user.avoid) ? user.avoid : [];\n\nconst matchedRoutes = routes.filter(route => {\n  const routeStart = normalize(route.start);\n  const routeDestination = normalize(route.destination);\n\n  const sameStart =\n    routeStart === userStart ||\n    routeStart.includes(userStart) ||\n    userStart.includes(routeStart);\n\n  const sameDestination =\n    routeDestination === userDestination ||\n    routeDestination.includes(userDestination) ||\n    userDestination.includes(routeDestination);\n\n  const hasStairs = toBool(route.has_stairs);\n  const wheelchairOk = toBool(route.wheelchair_ok);\n  const crutchOk = toBool(route.crutch_ok);\n  const carrierOk = toBool(route.carrier_ok);\n  const strollerOk = toBool(route.stroller_ok);\n\n  let mobilityOk = true;\n\n  if (mobility.includes(\"휠체어\")) mobilityOk = wheelchairOk;\n  if (mobility.includes(\"목발\") || mobility.includes(\"발목\") || mobility.includes(\"부상\")) mobilityOk = crutchOk;\n  if (mobility.includes(\"캐리어\") || mobility.includes(\"짐\")) mobilityOk = carrierOk;\n  if (mobility.includes(\"유모차\")) mobilityOk = strollerOk;\n\n  const avoidStairs = avoid.includes(\"계단\") || mobility.includes(\"목발\") || mobility.includes(\"휠체어\");\n  const stairOk = avoidStairs ? hasStairs === false : true;\n\n  return sameStart && sameDestination && mobilityOk && stairOk;\n});\n\nreturn [\n  {\n    json: {\n      ...user,\n      debug: {\n        user_start_raw: user.start,\n        user_destination_raw: user.destination,\n        user_start_normalized: userStart,\n        user_destination_normalized: userDestination,\n        route_count: routes.length,\n        sheet_starts: routes.map(r => r.start),\n        sheet_destinations: routes.map(r => r.destination)\n      },\n      matched_routes: matchedRoutes,\n      has_route: matchedRoutes.length > 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        240
      ],
      "id": "12eb510f-3f68-415f-91e1-f459f7aed032",
      "name": "Route_Fliter"
    },
    {
      "parameters": {
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "56950065-c72a-4f74-8602-e1a7ec5db8db",
      "name": "Send_Final_Response",
      "webhookId": "23a0cedc-41c9-4249-bc94-e188dcb0cc0b"
    }
  ],
  "pinData": {},
  "connections": {
    "Upstage Solar - 이동 조건 JSON 추출": {
      "main": [
        [
          {
            "node": "JSON_Parse_Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upstage Solar - 최종 경로 안내문 생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No_Route_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Solar - 최종 경로 안내문 생성": {
      "main": [
        [
          {
            "node": "Send_Final_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "User_Input": {
      "main": [
        [
          {
            "node": "Input_Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_Parse_Check": {
      "main": [
        [
          {
            "node": "Google_Sheets_Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input_Preprocess": {
      "main": [
        [
          {
            "node": "Upstage Solar - 이동 조건 JSON 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Sheets_Routes": {
      "main": [
        [
          {
            "node": "Route_Fliter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_Fliter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "125b4c2c-05f9-46a5-9b80-4103e9a2bbf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f46e20ea14b6af04b798ab0680187ebd3f053dab7311616fff72f07be6718e9"
  },
  "id": "SvkEg1wSt3ebZtX9",
  "tags": []
}